
.no-wrap {
  flex-wrap: nowrap;
}

.p-left {
  @include respond-from(md) {
      padding-left: 60px;
  }
}

.w-sm-60 {
  @include respond-to(sm) {
      width: 60%;
  }
}

.b-r {
  border-right: 2px solid #eeeeee;
}

.hover-polar {
  &:hover,
  &:active {
      background-color: $c-polar;
  }
}

.rotate-180 {
  transform: rotate(180deg);
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-bold {
  font-weight: bold;
}

.word-break {
  word-break: break-all;
}

.word-no-break {
  word-break: keep-all;
}

.m-l-20 {
  margin-left: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-40 {
  margin-top: 40px;
}

.font-xs {
  font-size: $font-xs;
}

.p-l-3-sm {
  @include respond-from(sm) {
      padding-left: 3rem !important;
  }
}

.pointer {
  cursor: pointer;
}

.mt-30 {
  margin-top: 30px;
}

.mb-15 {
  margin-top: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.m-l-20 {
  margin-left: 20px !important;
}