<div class="progress">
    <div
        class="progress-bar"
        [style.backgroundColor]="backgroundColor"
        role="progressbar"
        [style]="progress"
        aria-valuenow="valueNow"
        aria-valuemin="0"
        aria-valuemax="valueMax"
        aria-label="label"
    ></div>
</div>
<div *ngIf="bottomText" class="progress__bottom d-flex justify-content-between">
    <p >{{totalPage}} Pages <strong>{{valueNow}}</strong>% in compliance</p>
    <p class="opacity-blur">{{page}} Pages ({{100 - this.valueNow | number: '1.0-2'}}%) to fix</p>
</div>
