@import "~src/app/core/styles/styles.scss";

.home {
    &__section {
        margin: 50px 0;

        @include respond-from(sm) {
            margin: 140px 0;
        }

        &__banner {
            @include respond-from(md) {
                display: flex;
                margin: 0 auto;
            }

            &__left {
                @include respond-from(md) {
                    width: 45%;
                    padding: 0 30px 0 60px;
                    text-align: left;
                }

                @include respond-to(lg) {
                    padding-right: 110px;
                }

                &__title {
                    width: fit-content;
                    line-height: 50px;
                    font-size: 50px;
                    font-weight: bold;
                    margin-bottom: 30px;

                    @include respond-from(sm) {
                        font-size: 72px;
                        width: auto;
                        line-height: 70px;
                    }

                    @include respond-to(lg) {
                        font-size: 72px;
                        width: auto;
                        line-height: 70px;
                    }
                }

                &__desc {
                    margin: 20px 0;

                    @include respond-to(md) {
                        margin-top: 30px;
                        font-size: $font-sm;
                    }
                }

                &__detail {
                    margin-top: 10px;
                }
            }

            &__right {
                margin-top: 30px;

                @include respond-from(md) {
                    width: 50%;
                    margin: 0;
                }

                @include respond-to(lg) {
                    padding: 0 50px;
                }

                img {
                    box-shadow: 0px 3px 35px $c-cornflower-blue;
                }
            }

            &__url {
                color: $c-blue-whale;
                margin-left: 6px;
                cursor: pointer;
            }
        }

        &__circular-progress {
            width: 40%;
            padding: 0;

            @include respond-from(md) {
                width: fit-content;
            }
        }

        &__content {
            width: 60%;
            padding: 0;
            padding-left: 2px;

            @include respond-from(md) {
                width: 70%;
                margin-left: 35px;
            }

            &__header {
                margin-bottom: 20px;

                @include respond-from(sm) {
                    margin-bottom: 30px;
                }

                &__title {
                    margin: unset;
                    font-weight: normal;
                    font-size: 16px;

                    @include respond-from(sm) {
                        font-size: 38px;
                    }
                }

                img {
                    @include respond-to(xs) {
                        width: 31px;
                        height: 31px;
                    }
                }
            }

            &__des {
                font-size: 16px;
                margin-bottom: 20px;

                @include respond-to(xs) {
                    font-size: 14px;
                }

                @include respond-from(md) {
                    font-size: $font-sm;
                    width: 75%;
                }
            }

            &__note {
                font-size: 12px;
                margin-bottom: 40px;
                margin-top: 10px;
                padding: 0;

                @include respond-from(sm) {
                    font-size: 14px;
                }

                &__link {
                    text-decoration: underline;
                    letter-spacing: 0px;
                    color: $c-blue-ribbon;
                }

                @include respond-from(sm) {
                    display: none;
                }

                &.is-hide {
                    display: none;

                    @include respond-from(sm) {
                        display: initial;
                    }
                }
            }
        }

        &__information {
            &__header {
                @include respond-to(xs) {
                    margin: 0;
                }

                @include respond-from(md) {
                    height: 50px;
                    margin-top: 20px;
                }

                &__level {
                    font-size: 14px;
                    width: 70%;
                    opacity: 0.7;
                    padding-top: 20px;

                    @include respond-from(sm) {
                        font-size: 16px;
                        width: 50%;
                        text-align: left;
                    }

                    &.qa {
                        width: 55%;

                        @include respond-from(sm) {
                            padding-left: 7rem;
                        }

                        @include respond-to(sm) {
                            width: 65%;
                        }
                    }

                    &.privacy {
                        width: 45%;

                        @include respond-from(sm) {
                            padding-left: 7rem;
                        }

                        @include respond-to(sm) {
                            width: 60%;
                        }
                    }

                    &__img {
                        margin-left: 10px;
                    }

                    &__readability {
                        font-size: 14px;
                        width: 60%;
                    }

                    &__college {
                        font-size: 14px;
                        width: 40%;
                    }
                }

                &__domain {
                    opacity: 0.7;
                    width: 60%;

                    @include respond-from(sm) {
                        display: initial;
                        width: 30%;
                    }

                    &.qa {
                        @include respond-to(sm) {
                            width: 70%;
                            display: none;
                        }
                    }

                    &.privacy {
                        @include respond-to(sm) {
                            display: none;
                        }

                        @include respond-from(md) {
                            width: 20%;
                        }
                    }
                }

                &__severity {
                    width: 15%;
                }

                &__issues {
                    width: 5%;

                    @include respond-to(sm) {
                        width: 15%;
                    }

                    @include respond-from(md) {
                        width: 5%;
                    }
                }

                &__page {
                    opacity: 0.7;
                    width: 30%;
                    font-size: 14px;
                    text-align: center;

                    @include respond-from(sm) {
                        width: 20%;
                        font-size: 16px;
                        display: flex;
                        justify-content: center;
                    }

                    &.qa,
                    &.privacy {
                        @include respond-to(sm) {
                            width: 20%;
                        }
                    }
                }
            }

            &__bottom {
                border-top: 2px solid #d3d3d3;
                width: 100%;
                padding: 15px 0;
                color: $c-black;
            }

            &__body {
                cursor: pointer;

                &__level {
                    width: 65%;
                    font-size: 14px;

                    @include respond-from(sm) {
                        font-size: 16px;
                    }

                    @include respond-from(md) {
                        width: 50%;
                    }

                    &.qa {
                        width: 55%;

                        @include respond-to(sm) {
                            width: 65%;
                        }
                    }

                    &.privacy {
                        width: 70%;

                        @include respond-to(sm) {
                            width: 60%;
                        }

                        @include respond-from(md) {
                            width: 45%;
                        }
                    }
                }

                &__domain {
                    width: 60%;

                    @include respond-from(md) {
                        display: flex;
                        width: 30%;
                    }

                    &.qa,
                    &.privacy {
                        display: flex;
                        justify-content: center;

                        @include respond-to(sm) {
                            display: none;
                        }
                    }

                    &.privacy {
                        @include respond-from(md) {
                            width: 20%;
                        }
                    }
                }

                &__issues {
                    width: 5%;
                    text-align: right;

                    &.qa {
                        @include respond-to(sm) {
                            width: 15%;
                        }
                    }
                }

                &__severity {
                    width: 15%;

                    @include respond-to(sm) {
                        width: 20%;
                    }
                }

                &__page {
                    width: 30%;
                    font-size: 14px;

                    &.qa,
                    &.privacy {
                        justify-content: center;

                        @include respond-to(sm) {
                            width: 20%;
                            justify-content: center;
                        }
                    }

                    @include respond-from(sm) {
                        font-size: 16px;
                    }

                    @include respond-from(md) {
                        justify-content: center;
                        display: flex;
                        width: 20%;
                    }
                }
            }

            &__header {
                text-align: left;
                letter-spacing: 0px;
                border-top: 2px solid #d3d3d3;

                &__level,
                &__domain,
                &__page {
                    opacity: 1;
                    color: #052942;
                    padding: 20px 0;
                }

                &__level {
                    text-align: center;

                    @include respond-from(sm) {
                        text-align: left;
                        padding-left: 121px;
                    }
                }
            }

            &__body {
                &__level,
                &__domain,
                &__page {
                    padding: 10px 0;
                }

                &:last-child {
                    border-bottom: 2px solid #d3d3d3;
                }

                &__level {
                    @include respond-from(sm) {
                        width: 50%;
                    }

                    &__number {
                        color: $c-blue-whale;
                    }

                    &__icon {
                        width: 24px;
                        height: 24px;
                    }

                    &__text {
                        margin-left: 10px;
                        color: $c-blue-whale;

                        @include respond-from(sm) {
                            margin-left: 31px;
                        }
                    }
                }

                &__domain {
                    width: 60%;
                    display: flex;
                    flex-wrap: nowrap;
                    padding: 0 20px;

                    @include respond-from(sm) {
                        width: 30%;
                    }

                    &__progress {
                        width: 100%;
                        height: 9px;
                        padding: 0;

                        @include respond-from(md) {
                            width: 40%;
                            max-width: 90px;
                        }
                    }

                    &__percent {
                        font-size: $font-xs;
                        letter-spacing: 0px;
                        color: $c-blue-whale;
                        margin-left: 14px;
                    }
                }

                &__page {
                    display: flex;
                    width: 30%;

                    @include respond-from(sm) {
                        width: 20%;
                    }

                    &__box {
                        justify-content: flex-end;

                        @include respond-from(md) {
                            justify-content: initial;
                        }

                        position: relative;
                        width: fit-content;
                        background-color: #f4f2f0;
                        border-radius: 3px;
                        padding: 8px 18px !important;
                        font-weight: bold;

                        &__icon {
                            position: absolute;
                            right: -25px;
                            top: 13px;
                            cursor: pointer;
                            height: 15px;

                            @include respond-from(sm) {
                                right: -35px;
                            }
                        }

                        &.highlight {
                            background-color: $c-spray;
                        }
                    }
                }
            }
        }

        &__detail {
            @include respond-from(sm) {
                display: flex;
            }

            &__left {
                width: 100%;

                @include respond-from(md) {
                    width: 50%;
                    margin: 0;
                    padding-top: 30px;
                    padding-left: 64px;
                }

                &__title {
                    font-size: $font-sm;
                }

                &__found {
                    font-size: $font-xs;
                    opacity: 0.4;
                }
            }

            &__right {
                width: 100%;
                justify-content: end;

                @include respond-from(md) {
                    width: 100%;
                    padding-right: 1%;
                }

                @include respond-from(lg) {
                    padding-right: 3%;
                }

                &__progress {
                    max-width: 465px;
                    height: 18px;

                    @include respond-from(sm) {
                        width: 100%;
                        max-width: 550px;
                    }

                    @include respond-from(md) {
                        width: 80%;
                        max-width: 560px;
                    }

                    @include respond-from(lg) {
                        width: 100%;
                        max-width: 560px;
                    }

                    &__icon {
                        width: fit-content;
                        cursor: pointer;
                        height: 15px;
                    }
                }
            }
        }

        &__items {
            display: none;

            @include respond-from(md) {
                display: flex;
            }

            &__header {
                margin-top: 40px;
                font-size: 14px;

                @include respond-from(sm) {
                    justify-content: space-between;
                    font-size: 16px;
                }

                @include respond-from(md) {
                    width: 100%;
                    margin-top: inherit;
                }

                &__title,
                &__priority {
                    font-size: 12px;

                    @include respond-from(sm) {
                        font-size: 16px;
                    }
                }

                &__priority {
                    @include respond-to(xs) {
                        text-align: center;
                    }

                    @include respond-from(sm) {
                        display: flex;
                    }
                }
            }

            &__list {
                padding: 0 12px;

                &__img {
                    width: 100px;
                    height: 70px;
                    background-size: cover;
                }

                &__item {
                    font-size: 14px;
                    border-top: 1px solid #d3d3d3;

                    @include respond-from(sm) {
                        font-size: 16px;
                    }

                    &__left {
                        @include respond-from(md) {
                            width: 50%;
                        }

                        &__title {
                            font-weight: bold;
                            font-size: 14px;

                            @include respond-from(sm) {
                                font-size: $font-sm;
                            }
                        }

                        &__link {
                            cursor: pointer;

                            @include respond-to(xs) {
                                font-size: 12px;
                            }

                            &__icon {
                                width: 15px;
                            }

                            &__url:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    &__right {
                        display: none;

                        @include respond-from(sm) {
                            display: flex;
                            width: 50%;
                            justify-content: flex-end;
                            padding-right: 2%;
                        }

                        @include respond-from(md) {
                            justify-content: space-between;
                        }

                        @include respond-from(lg) {
                            padding-right: 3em;
                        }

                        &__priority {
                            @include respond-from(md) {
                                justify-content: flex-end;
                            }

                            &.severity {
                                width: 20%;

                                @include respond-from(sm) {
                                    width: 15%;
                                }
                            }

                            &__box {
                                @include respond-to(xs) {
                                    font-size: 14px;
                                    text-align: center;
                                }

                                font-size: $font-md;
                                font-weight: medium;
                                border: 3px;
                                padding: 2px 10px;
                                color: $c-blue-whale;
                                text-align: center;
                            }

                            .box--low {
                                width: 60px;
                                background-color: $c-spray;
                            }

                            .box--high {
                                width: 67px;
                                background-color: $c-vivid-tangerine;
                            }

                            .box--medium {
                                background-color: $c-bright-sun;
                                width: 100px;
                            }
                        }
                    }

                    &__note {
                        text-align: center;
                        font-size: 12px;
                        margin-bottom: 15px;

                        @include respond-from(sm) {
                            text-align: right;
                            font-size: 14px;
                        }

                        > a {
                            color: $c-blue-whale;
                        }
                    }
                }
            }
        }

        &__promote {
            color: $c-blue-whale;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include respond-from(md) {
                padding-left: 60px;
            }

            &__left {
                width: 65%;

                @include respond-to(lg) {
                    width: 60%;
                }
            }

            &__title {
                text-align: left;
                font-size: 38px;
                font-weight: 700;

                @include respond-from(sm) {
                    font-size: 72px;
                    width: 65%;
                }

                @include respond-from(md) {
                    width: initial;
                }
            }

            &__img {
                @include respond-from(md) {
                    width: 35%;
                }

                > img {
                    text-align: center;
                    width: 180px;

                    @include respond-from(sm) {
                        width: 40%;
                        width: initial;
                    }
                }
            }

            &__desc {
                margin: 20px 0;
                font-size: 14px;
                color: #021b2c;

                @include respond-from(sm) {
                    font-size: 16px;
                }

                @include respond-from(md) {
                    width: 65%;
                }
            }

            &__btn {
                height: 42px;
                width: 164px;
                background-color: #052942;
                border: 2px solid #052942;
                color: #ffffff;
                font-size: 17px;

                &:hover {
                    background-color: white;
                    color: #052942;
                }
            }
        }

        &__performance-level {
            flex-direction: column;

            &__item {
                margin: 10px 0;
                flex-wrap: wrap;
                width: 100%;

                @include respond-from(sm) {
                    width: cacl(100% / 3);
                }
            }

            @include respond-from(sm) {
                flex-direction: row;
            }

            .marbles {
                width: 24px;
                height: 24px;
                border-radius: 50%;

                &.level-short {
                    background-color: $c-gobin;
                }

                &.level-medium {
                    background-color: $c-bright-sun;
                }

                &.level-long {
                    background-color: $c-valencia;
                }
            }
        }

        &__performance-detail {
            width: 100%;
            margin: 20px 0;

            @include respond-to(sm) {
                width: 50%;
            }

            @include respond-from(md) {
                width: calc(100% / 3);
            }

            .border {
                width: 10px;
                height: 100px;
                border-radius: 8px;

                &.purple-heart {
                    background-color: $c-purple-heart;
                }

                &.wivid-tangerine {
                    background-color: $c-vivid-tangerine;
                }

                &.scooter {
                    background-color: $c-scooter;
                }
            }

            &__measure {
                font-size: 38px;
            }
        }
    }
}


th {
    font-weight: normal;
}

td,
tr,
th {
    border: none;
}

td,
tr,
th {
    padding: 0;
}

p {
    margin: 0;
}

tr {
    @include respond-from(sm) {
        padding: 10px 0;
    }
}
