<div class="home container">
    <app-header></app-header>
    <!-- Banner -->
    <section class="home__section container-fluild">
        <div class="home__section__banner">
            <div class="home__section__banner__left">
                <h1 class="home__section__banner__left__title">
                    Snapshot Report
                </h1>
                <p class="home__section__banner__left__desc">
                    Find out how your website has performed in the top areas that impact the user experience on your site. Please keep in mind, we’ve only scanned the first 10 pages of your domain.                </p>
                <span class="d-flex">
                <img src="./assets/icons/open-link.svg" alt="">
                <a href="https://monsido.com/" target="_blank" class="home__section__banner__url">https://www.monsido.com</a>
                </span>
                <div class="w-sm-60 home__section__banner__left__detail d-flex justify-content-between">
                    <p>Time of Scan: </p>
                    <p class="fw-bold">10:45 CEST</p>
                </div>
                <div class="w-sm-60 d-flex justify-content-between">
                    <p>Date: </p>
                    <p class="fw-bold">January 20th, 2021</p>
                </div>
                <div class="w-sm-60 d-flex justify-content-between">
                    <p>Pages scanned: </p>
                    <p class="fw-bold">4</p>
                </div>
            </div>
            <div class="home__section__banner__right text-center">
                <img class="img-fluid" src="./assets/images/banner.png" alt="" />
            </div>
        </div>
    </section>
    <!-- Accessibility -->
    <section class="home__section container-fluid">
        <div class="row p-left">
            <div class="home__section__circular-progress">
                <app-circular-progress-bar [value]="97.7"></app-circular-progress-bar>
            </div>
            <div class="home__section__content d-flex flex-column">
                <div class="home__section__content__header d-flex flex-row align-items-center">
                    <img class="img-fluid" src="./assets/icons/human.svg" alt="" />
                    <h2 class="home__section__content__header__title m-l-20">
                        Web Accessibility
                    </h2>
                </div>
                <p class="home__section__content__des">
                    Your score reflects how accessible your website is for your audience, including visitors with disabilities. We’ve scanned your pages for accessibility errors according to WCAG 2.1 testing criteria.                </p>
                <div class="home__section__content__note is-hide">
                    Learn more about Web Accessibility 
                    <a href="https://monsido.com/platform/web-accessibility" target="_blank" class="home__section__content__note__link">here</a>
                </div>
            </div>
            <div class="home__section__content__note">
                Learn more about Web Accessibility 
                <a href="https://monsido.com/platform/web-accessibility" target="_blank" class="home__section__content__note__link">here</a>
            </div>
        </div>
        <!-- Large Tablet, Laptop, Desktop -->
        <table class="table home__section__information" *ngIf="innerWidth >= 768">
            <thead>
                <tr class="home__section__information__header row">
                    <th class="home__section__information__header__level">Accessibility Checks</th>
                    <th class="home__section__information__header__domain text-center p-t-20">Domain compliance</th>
                    <th class="home__section__information__header__page text-center p-t-20">Affects Pages</th>
                </tr>
            </thead>
            <tbody class="home__section__information__body row">
                <tr class="d-flex" >
                    <td>
                        <accordion [collapsing]="collapsing" (indexChange)="changeIndex($event, 'accessibility')">
                            <accordion-item *ngFor="let data of ACCESSIBILY_DATA; let i = index">
                                <ng-template accordionHeader let-toggle="toggle">
                                    <div class="d-flex align-items-center justify-content-between" (click)="toggle()" >
                                        <div class="w-50 p-l-3-sm d-flex align-items-center">
                                            <span class="home__section__information__body__level__number">{{i+1}}.</span>
                                            <img [src]="data.level.icon" class="home__section__information__body__level__icon ms-2" alt="">
                                            <span class="home__section__information__body__level__text">{{data.level.text}}</span>
                                        </div>
                                        <div class="w-30 home__section__information__body__domain justify-content-center align-items-center">
                                            <div class="home__section__information__body__domain__progress">
                                                <app-progress-bar [label]="'Progress bar showing how many pages there is compliant'" [bottomText]="false" [valueMax]="100"
                                                [valueNow]="data.level.compliance">
                                                </app-progress-bar>
                                            </div>
                                            <span class="home__section__information__body__domain__percent">{{data.level.compliance}}%</span>
                                        </div>
                                        <div class="w-15 home__section__information__body__page justify-content-center align-items-center">
                                            <div class="home__section__information__body__page__box text-center"
                                                [class.highlight]="currentAccessibiltyIndex === i">
                                                <span>{{data.level.page}}</span>
                                                <img class="home__section__information__body__page__box__icon ms-3"
                                                [src]="'./assets/icons/down-arrow-bold.svg'"
                                                [class.rotate-180]="currentAccessibiltyIndex === i"
                                                alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template accordionContent>
                                    <div class="home__section__detail align-items-center">
                                        <div class="home__section__detail__right d-flex align-items-center mt-30 mb-30">
                                            <div class="home__section__detail__right__progress">
                                                <app-progress-bar [label]="'Progress bar showing how many pages there is compliant'" [valueMax]="100" [valueNow]="currentDetail.detail.percent"
                                                [totalPage]="currentDetail?.detail?.totalPage" [page]="currentDetail?.pages?.value"></app-progress-bar>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table home__section__items d-flex flex-column mt-4">
                                        <thead>
                                            <tr class="home__section__items__header d-flex">
                                                <th class="w-80 home__section__items__header__title p-l-3-sm">Title and URL</th>
                                                <th class="w-20 justify-content-center home__section__items__header__priority">Priority
                                                    <span class="d-flex ms-1">
                                                        <img src="./assets/icons/question-circle.svg" alt="" />
                                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="home__section__items__list row">
                                            <tr *ngFor="let item of currentDetail?.detail?.items" class="home__section__items__list__item d-flex">
                                                <td class="w-80 p-l-3-sm">
                                                    <div class="home__section__items__list__item__left__title">{{item.name}}</div>
                                                    <div class="home__section__items__list__item__left__link d-flex align-items-center">
                                                        <img class="home__section__items__list__item__left__link__icon" src="./assets/icons/open-link.png" alt="">
                                                        <span class="home__section__items__list__item__left__link__url ms-2">{{item.url}}</span>
                                                    </div>
                                                </td>
                                                <td class="w-20 d-flex justify-content-center align-items-center">
                                                    <div class="home__section__items__list__item__right__priority">
                                                        <div [class]="'home__section__items__list__item__right__priority__box '  + getBoxColor(item.priority)">
                                                            {{item.priority}}
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="home__section__items__list__item__note">Want to see the status of more pages? <a href="https://go.monsido.com/demo?utm_source=report-page&utm_medium=accordions&utm_content=book-a-demo&utm_campaign=snapshot-report-flow" target="_blank">Book a demo</a></p>
                                </ng-template>
                            </accordion-item>
                        </accordion>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Mobile, Small Tablet -->
        <table class="table home__section__information" *ngIf="innerWidth < 768">
            <thead>
                <tr class="home__section__information__header row">
                    <th class="home__section__information__header__level text-center">Accessibility Checks</th>
                    <th class="home__section__information__header__page">Affects Pages</th>
                </tr>
            </thead>
            <tbody>
                <tr class="d-flex align-items-center">
                    <td class="home__section__detail">
                        <accordion [collapsing]="collapsing" (indexChange)="changeIndex($event, 'accessibility')">
                            <accordion-item  *ngFor="let data of ACCESSIBILY_DATA; let i = index">
                                <ng-template accordionHeader let-toggle="toggle">
                                    <div class="d-flex align-items-center justify-content-between" (click)="toggle()" >
                                        <td class="home__section__information__body__level d-flex align-items-center">
                                            <span class="home__section__information__body__level__number">{{i+1}}.</span>
                                            <img [src]="data.level.icon" class="home__section__information__body__level__icon ms-2" alt="">
                                            <span class="home__section__information__body__level__text">{{data.level.text}}</span>
                                        </td>
                                        <div class="home__section__information__body__page justify-content-center align-items-center">
                                            <div class="home__section__information__body__page__box text-center"
                                                [class.highlight]="currentAccessibiltyIndex === i">
                                                <span>{{data.level.page}}</span>
                                                <img class="home__section__information__body__page__box__icon ms-3"
                                                [class.rotate-180]="currentAccessibiltyIndex === i"
                                                [src]="'./assets/icons/down-arrow-bold.svg'"
                                                alt=""/>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template accordionContent>
                                    <div class="home__section__detail align-items-center">
                                        <div class="home__section__detail__right d-flex align-items-center mt-30 mb-30">
                                            <div class="home__section__detail__right__progress">
                                                <app-progress-bar [label]="'Progress bar showing how many pages there is compliant'" [valueMax]="100" [valueNow]="currentDetail.detail.percent"
                                                [totalPage]="currentDetail?.detail?.totalPage" [page]="currentDetail?.pages?.value"></app-progress-bar>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table home__section__items d-flex flex-column">
                                        <thead>
                                            <tr class="home__section__items__header d-flex">
                                                <th class="w-70 home__section__items__header__title">Title and URL</th>
                                                <th class="w-30 justify-content-center home__section__items__header__priority">Priority</th>
                                            </tr>
                                        </thead>
                                        <tbody class="home__section__items__list row">
                                            <tr *ngFor="let item of currentDetail?.detail?.items" class="home__section__items__list__item d-flex">
                                                <td class="w-70">
                                                    <div class="home__section__items__list__item__left__title">{{item.name}}</div>
                                                    <div class="home__section__items__list__item__left__link d-flex align-items-center">
                                                        <img class="home__section__items__list__item__left__link__icon" src="./assets/icons/open-link.png" alt="">
                                                        <span class="home__section__items__list__item__left__link__url ms-2">{{item.url}}</span>
                                                    </div>
                                                </td>
                                                <td class="w-30 d-flex justify-content-center align-items-center">
                                                    <div class="home__section__items__list__item__right__priority">
                                                        <div [class]="'home__section__items__list__item__right__priority__box '  + getBoxColor(item.priority)">
                                                            {{item.priority}}
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="home__section__items__list__item__note">Want to see the status of more pages? <a href="https://go.monsido.com/demo?utm_source=report-page&utm_medium=accordions&utm_content=book-a-demo&utm_campaign=snapshot-report-flow" target="_blank">Book a demo</a></p>
                                </ng-template>
                            </accordion-item>
                        </accordion>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <!-- Quality Assurance -->
    <section class="home__section container-fluid">
        <div class="row p-left">
            <div class="home__section__circular-progress">
                <app-circular-progress-bar [value]="54.4"></app-circular-progress-bar>
            </div>
            <div class="home__section__content d-flex flex-column">
                <div class="home__section__content__header d-flex flex-row align-items-center">
                    <img class="img-fluid" src="./assets/icons/checkbox.svg" alt="" />
                    <h2 class="home__section__content__header__title m-l-20">
                        Quality Assurance
                    </h2>
                </div>
                <p class="home__section__content__des">
                    Your Quality Assurance score reveals how many issues, such as broken links and misspellings, were found on the pages scanned.
                </p>
                <div class="home__section__content__note is-hide">
                    Learn more about Quality Assurance 
                    <a href="https://monsido.com/platform/quality-assurance" target="_blank" class="home__section__content__note__link">here</a>
                </div>
            </div>
            <div class="home__section__content__note">
                Learn more about Quality Assurance 
                <a href="https://monsido.com/platform/quality-assurance" target="_blank" class="home__section__content__note__link">here</a>
            </div>
        </div>
        <!-- Large Tablet, Laptop, Desktop -->
        <table class="table home__section__information" *ngIf="innerWidth >= 768">
            <thead>
                <tr class="home__section__information__header d-flex align-items-center">
                    <th class="home__section__information__header__level qa p-t-20">QA Checks</th>
                    <th class="home__section__information__header__issues qa text-center p-t-20">Issues</th>
                    <th class="home__section__information__header__domain qa text-center p-t-20">Domain compliance</th>
                    <th class="home__section__information__header__page qa text-center p-t-20">Affects Pages</th>
                </tr>
            </thead>
            <tbody class="home__section__information__body row">
                <tr class="d-flex">
                    <td class="w-100">
                        <accordion [collapsing]="collapsing" (indexChange)="changeIndex($event, 'quality_assurance')">
                            <accordion-item  *ngFor="let data of QA_DATA; let i = index">
                                <ng-template accordionHeader let-toggle="toggle">
                                    <div class="d-flex align-items-center justify-content-between" (click)="toggle()" >
                                        <div class="p-l-3-sm home__section__information__body__level qa d-flex align-items-center">
                                            <span class="home__section__information__body__level__number">{{i+1}}.</span>
                                            <img [src]="data.level.icon" class="home__section__information__body__level__icon ms-2" alt="">
                                            <span class="home__section__information__body__level__text">{{data.level.text}}</span>
                                        </div>
                                        <span class="home__section__information__body__issues qa">{{data.level.issues}}</span>
                                        <div class="home__section__information__body__domain qa justify-content-center align-items-center">
                                            <div class="home__section__information__body__domain__progress">
                                                <app-progress-bar [label]="'Progress bar showing how many pages there is compliant'" [bottomText]="false" [valueMax]="100"
                                                [valueNow]="data.level.compliance">
                                                </app-progress-bar>
                                            </div>
                                            <span class="home__section__information__body__domain__percent">{{data.level.compliance}}%</span>
                                        </div>
                                        <div class="home__section__information__body__page qa align-items-center">
                                            <div class="home__section__information__body__page__box text-center"
                                                [class.highlight]="currentQualityAssuranceIndex === i">
                                                <span>{{data.level.pages}}</span>
                                                <img class="home__section__information__body__page__box__icon ms-3"
                                                [class.rotate-180]="currentQualityAssuranceIndex === i"
                                                [src]="'./assets/icons/down-arrow-bold.svg'"
                                                alt=""/>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template accordionContent>
                                    <div class="home__section__detail align-items-center">
                                        <div class="home__section__detail__right d-flex align-items-center mt-30 mb-30">
                                            <div class="home__section__detail__right__progress">
                                                <app-progress-bar [label]="'Progress bar showing how many pages there is compliant'" [valueMax]="100" [valueNow]="currentDetail.detail.percent"
                                                [totalPage]="currentDetail?.detail?.totalPage" [page]="currentDetail?.pages?.value"></app-progress-bar>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table home__section__items d-flex flex-column mt-4">
                                        <thead>
                                            <tr class="home__section__items__header d-flex">
                                                <th class="w-75 p-l-3-sm">Broken Link</th>
                                                <th class="w-25 text-right">Pages</th>
                                            </tr>
                                        </thead>
                                        <tbody class="home__section__items__list row">
                                            <tr *ngFor="let item of currentQADetail.level?.detail?.items" class="home__section__items__list__item d-flex">
                                                <td class="w-75 p-l-3-sm">
                                                    {{item.url}}
                                                </td>
                                                <td class="w-25 text-right">
                                                    {{item.pages}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="home__section__items__list__item__note">Want to see the status of more pages? <a href="https://go.monsido.com/demo?utm_source=report-page&utm_medium=accordions&utm_content=book-a-demo&utm_campaign=snapshot-report-flow" target="_blank">Book a demo</a></p>
                                </ng-template>
                            </accordion-item>
                        </accordion>
                    </td>
                </tr>
                <tr class="home__section__information__bottom column d-flex align-items-center">
                    <div class="w-40 d-flex justify-content-between pointer">
                        <td class="home__section__information__header__level__readability text-center text-bold">Readability Level</td>
                        <td class="home__section__information__header__level__college text-center d-flex align-items-center justify-content-center">College
                            <img class="home__section__information__header__level__img img-fluid" src="./assets/icons/eye.svg" alt="" />
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
        <!-- Mobile, Small Tablet -->
        <table class="table home__section__information" *ngIf="innerWidth < 768">
            <thead>
                <tr class="home__section__information__header row">
                    <th class="home__section__information__header__level text-center">Accessibility Checks</th>
                    <th class="home__section__information__header__page">Affects Pages</th>
                </tr>
            </thead>
            <tbody>
                <tr class="d-flex">
                    <td class="w-100">
                        <accordion [collapsing]="collapsing" (indexChange)="changeIndex($event, 'quality_assurance')">
                            <accordion-item *ngFor="let data of QA_DATA; let i = index">
                                <ng-template accordionHeader let-toggle="toggle">
                                    <div class="d-flex align-items-center justify-content-between" (click)="toggle()" >
                                        <div class="home__section__information__body__level qa d-flex align-items-center">
                                            <span class="home__section__information__body__level__number">{{i+1}}.</span>
                                            <img [src]="data.level.icon" class="home__section__information__body__level__icon ms-2" alt="">
                                            <span class="home__section__information__body__level__text">{{data.level.text}}</span>
                                        </div>
                                        <div class="home__section__information__body__page qa align-items-center">
                                            <div class="home__section__information__body__page__box text-center"
                                                [class.highlight]="currentQualityAssuranceIndex === i">
                                                <span>{{data.level.pages}}</span>
                                                <img class="home__section__information__body__page__box__icon ms-3"
                                                [class.rotate-180]="currentQualityAssuranceIndex === i"
                                                [src]="'./assets/icons/down-arrow-bold.svg'"
                                                alt=""/>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template accordionContent>
                                    <table class="table home__section__items d-flex flex-column">
                                        <thead>
                                            <tr class="home__section__items__header d-flex">
                                                <th class="w-75">Broken Link</th>
                                                <th class="w-25 text-right">Pages</th>
                                            </tr>
                                        </thead>
                                        <tbody class="home__section__items__list row">
                                            <tr *ngFor="let item of currentQADetail.level?.detail?.items" class="home__section__items__list__item d-flex">
                                                <td class="w-75">
                                                    {{item.url}}
                                                </td>
                                                <td class="w-25 text-right">
                                                    {{item.pages}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="home__section__items__list__item__note">Want to see the status of more pages? <a href="https://go.monsido.com/demo?utm_source=report-page&utm_medium=accordions&utm_content=book-a-demo&utm_campaign=snapshot-report-flow" target="_blank">Book a demo</a></p>
                                </ng-template>
                            </accordion-item>
                        </accordion>
                    </td>
                </tr>
                <tr class="home__section__information__bottom column d-flex align-items-center">
                    <div class="w-100 d-flex justify-content-between pointer">
                        <td class="home__section__information__header__level__readability text-center">Readability Level</td>
                        <td class="home__section__information__header__level__college text-center d-flex align-items-center justify-content-center">College
                            <img class="home__section__information__header__level__img img-fluid" src="./assets/icons/eye.svg" alt="" />
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
    </section>
    <!-- SEO -->
    <section class="home__section container-fluid">
        <div class="row p-left">
            <div class="home__section__circular-progress">
                <app-circular-progress-bar [value]="97.7"></app-circular-progress-bar>
            </div>
            <div class="home__section__content d-flex flex-column">
                <div class="home__section__content__header d-flex flex-row align-items-center">
                    <img class="img-fluid" src="./assets/icons/search.svg" alt="" />
                    <h2 class="home__section__content__header__title m-l-20">
                        SEO
                    </h2>
                </div>
                <p class="home__section__content__des">
                    Your SEO score indicates how optimized the pages scanned are for search engines and whether they follow best practices such as including header tags.
                </p>
                <div class="home__section__content__note is-hide">
                    Learn more about SEO 
                    <a href="https://monsido.com/platform/seo" target="_blank" class="home__section__content__note__link">here</a>
                </div>
            </div>
            <div class="home__section__content__note">
                Learn more about SEO 
                <a href="https://monsido.com/platform/seo" target="_blank" class="home__section__content__note__link">here</a>
            </div>
        </div>
        <!-- Large Tablet, Laptop, Desktop -->
        <table class="table home__section__information" *ngIf="innerWidth >= 768">
            <thead>
                <tr class="home__section__information__header row">
                    <th class="home__section__information__header__level">SEO Checks</th>
                    <th class="home__section__information__header__domain text-center p-t-20">Domain compliance</th>
                    <th class="home__section__information__header__page text-center p-t-20">Affects Pages</th>
                </tr>
            </thead>
            <tbody class="home__section__information__body row">
                <tr class="d-flex align-items-center" >
                    <td class="w-100">
                        <accordion [collapsing]="collapsing" (indexChange)="changeIndex($event, 'seo')">
                            <accordion-item *ngFor="let data of SEO_DATA; let i = index">
                                <ng-template accordionHeader let-toggle="toggle">
                                    <div class="d-flex align-items-center justify-content-between" (click)="toggle()" >
                                        <div class="w-50 p-l-3-sm d-flex align-items-center">
                                            <span class="home__section__information__body__level__number">{{i+1}}.</span>
                                            <img [src]="data.level.icon" class="home__section__information__body__level__icon ms-2" alt="">
                                            <span class="home__section__information__body__level__text">{{data.level.text}}</span>
                                        </div>
                                        <div class="w-30 home__section__information__body__domain justify-content-center align-items-center">
                                            <div class="home__section__information__body__domain__progress">
                                                <app-progress-bar [label]="'Progress bar showing how many pages there is compliant'" [bottomText]="false" [valueMax]="100"
                                                [valueNow]="data.level.compliance">
                                                </app-progress-bar>
                                            </div>
                                            <span class="home__section__information__body__domain__percent">{{data.level.compliance}}%</span>
                                        </div>
                                        <div class="w-15 home__section__information__body__page justify-content-center align-items-center">
                                            <div class="home__section__information__body__page__box text-center"
                                                [class.highlight]="currentSEOIndex === i">
                                                <span>{{data.level.pages}}</span>
                                                <img class="home__section__information__body__page__box__icon ms-3"
                                                [class.rotate-180]="currentSEOIndex === i"
                                                [src]="'./assets/icons/down-arrow-bold.svg'"
                                                alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template accordionContent style="margin-top: -24px;">
                                    <table class="table home__section__items d-flex flex-column">
                                        <thead>
                                            <tr class="home__section__items__header d-flex mt-4">
                                                <th class="w-20 p-l-3-sm">Image</th>
                                                <th class="w-70">Image Path</th>
                                                <th class="w-10">Pages</th>
                                            </tr>
                                        </thead>
                                        <tbody class="home__section__items__list row">
                                            <tr *ngFor="let item of currentSEODetail?.level.detail?.items" class="home__section__items__list__item d-flex align-items-center">
                                                <td class="w-20 p-l-3-sm">
                                                    <img class="home__section__items__list__img" [src]="item.image" alt="" />
                                                </td>
                                                <td class="w-70 word-break">{{item.path}}</td>
                                                <td class="w-10 text-center">{{item.pages}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="home__section__items__list__item__note">Want to see more issues? <a href="https://go.monsido.com/demo?utm_source=report-page&utm_medium=accordions&utm_content=book-a-demo&utm_campaign=snapshot-report-flow" target="_blank">Book a demo</a></p>
                                </ng-template>
                            </accordion-item>
                        </accordion>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Mobile, Small Tablet -->
        <table class="table home__section__information" *ngIf="innerWidth < 768">
            <thead>
                <tr class="home__section__information__header row">
                    <th class="home__section__information__header__level text-center">SEO Checks</th>
                    <th class="home__section__information__header__page">Affects Pages</th>
                </tr>
            </thead>
            <tbody>
                <tr class="d-flex align-items-center">
                    <td class="w-100">
                        <accordion [collapsing]="collapsing" (indexChange)="changeIndex($event, 'seo')">
                            <accordion-item *ngFor="let data of SEO_DATA; let i = index">
                                <ng-template accordionHeader let-toggle="toggle">
                                    <div class="d-flex align-items-center hover-polar" (click)="toggle()" >
                                        <div class="d-flex align-items-center home__section__information__body__level privacy">
                                            <div class="d-flex">
                                                <span class="home__section__information__body__level__number">{{i+1}}.</span>
                                                <img [src]="data.level.icon" class="home__section__information__body__level__icon ms-2" alt="">
                                            </div>
                                            <span class="home__section__information__body__level__text">{{data.level.text}}</span>
                                        </div>
                                        <div class="w-15 home__section__information__body__page privacy justify-content-center align-items-center">
                                            <div class="home__section__information__body__page__box text-center"
                                                [class.highlight]="currentSEOIndex === i">
                                                <span>{{data.level.pages}}</span>
                                                <img class="home__section__information__body__page__box__icon ms-3"
                                                [class.rotate-180]="currentSEOIndex === i"
                                                [src]="'./assets/icons/down-arrow-bold.svg'"
                                                alt=""/>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template accordionContent>
                                    <table class="table home__section__items d-flex flex-column">
                                        <thead>
                                            <tr class="home__section__items__header d-flex">
                                                <th class="w-90">Image</th>
                                                <th class="w-10">Pages</th>
                                            </tr>
                                        </thead>
                                        <tbody class="home__section__items__list row">
                                            <tr *ngFor="let item of currentSEODetail?.level.detail?.items" class="home__section__items__list__item d-flex align-items-center">
                                                <td class="w-90 d-block">
                                                    <img class="home__section__items__list__img" [src]="item.image" alt="" />
                                                    <p class="word-break font-xs">{{item.path}}</p>
                                                </td>
                                                <td class="w-10 text-right">{{item.pages}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="home__section__items__list__item__note">Want to see more issues? <a href="https://go.monsido.com/demo?utm_source=report-page&utm_medium=accordions&utm_content=book-a-demo&utm_campaign=snapshot-report-flow" target="_blank">Book a demo</a></p>
                                </ng-template>
                            </accordion-item>
                        </accordion>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <!-- Data Privacy -->
    <section class="home__section container-fluid">
        <div class="row p-left">
            <div class="home__section__circular-progress">
                <app-circular-progress-bar [value]="97.7"></app-circular-progress-bar>
            </div>
            <div class="home__section__content d-flex flex-column">
                <div class="home__section__content__header d-flex flex-row align-items-center">
                    <img class="img-fluid" src="./assets/icons/privacy.svg" alt="" />
                    <h2 class="home__section__content__header__title m-l-20">
                        Data Privacy
                    </h2>
                </div>
                <p class="home__section__content__des">
                    Your Data Privacy score measures whether any potential privacy breaches based on sensitive information were detected anywhere on the pages scanned.
                </p>
                <div class="home__section__content__note is-hide">
                    Learn more about Data Privacy 
                    <a href="https://monsido.com/platform/data-privacy" target="_blank" class="home__section__content__note__link">here</a>
                </div>
            </div>
            <div class="home__section__content__note">
                Learn more about Data Privacy 
                <a href="https://monsido.com/platform/data-privacy" target="_blank" class="home__section__content__note__link">here</a>
            </div>
        </div>
        <!-- Large Tablet, Laptop, Desktop -->
        <table class="table home__section__information" *ngIf="innerWidth >= 768">
            <thead>
                <tr class="home__section__information__header d-flex align-items-center">
                    <th class="home__section__information__header__level privacy w-45">Data Privacy Checks</th>
                    <th class="home__section__information__header__severity w-15 text-center p-t-20">Severity</th>
                    <th class="home__section__information__header__domain privacy w-30 text-center p-t-20">Domain compliance</th>
                    <th class="home__section__information__header__page privacy w-20 text-center p-t-20">Affects Pages</th>
                </tr>
            </thead>
            <tbody class="home__section__information__body row">
                <tr class="d-flex align-items-center">
                    <td class="w-100">
                        <accordion [collapsing]="collapsing" (indexChange)="changeIndex($event, 'privacy')">
                            <accordion-item *ngFor="let data of PRIVACY_DATA; let i = index">
                                <ng-template accordionHeader let-toggle="toggle">
                                    <div class="d-flex align-items-center hover-polar" (click)="toggle()" >
                                        <div class="p-l-3-sm home__section__information__body__level privacy">
                                            <span class="home__section__information__body__level__number">{{i+1}}.</span>
                                            <img [src]="data.level.icon" class="home__section__information__body__level__icon ms-2" alt="">
                                            <span class="home__section__information__body__level__text">{{data.level.text}}</span>
                                        </div>
                                        <div class="d-flex justify-content-center home__section__items__list__item__right__priority severity">
                                            <div [class]="'home__section__items__list__item__right__priority__box '  + getBoxColor(data.level.severity)">
                                                {{data.level.severity}}
                                            </div>
                                        </div>
                                        <div class="home__section__information__body__domain privacy w-30">
                                            <div class="home__section__information__body__domain__progress">
                                                <app-progress-bar [label]="'Progress bar showing how many pages there is compliant'" [bottomText]="false" [valueMax]="100"
                                                [valueNow]="data.level.compliance">
                                                </app-progress-bar>
                                            </div>
                                            <span class="home__section__information__body__domain__percent">{{data.level.compliance}}%</span>
                                        </div>
                                        <div class="w-15 home__section__information__body__page privacy justify-content-center align-items-center">
                                            <div class="home__section__information__body__page__box text-center"
                                                [class.highlight]="currentPrivacyIndex === i">
                                                <span>{{data.level.pages}}</span>
                                                <img class="home__section__information__body__page__box__icon ms-3"
                                                [class.rotate-180]="currentPrivacyIndex === i"
                                                [src]="'./assets/icons/down-arrow-bold.svg'"
                                                alt=""/>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template accordionContent>
                                    <table class="table home__section__items d-flex flex-column">
                                        <thead>
                                            <tr class="w-100 home__section__items__header d-flex mt-4">
                                                <th class="w-90 p-l-3-sm">Check issues</th>
                                                <th class="w-10">Pages</th>
                                            </tr>
                                        </thead>
                                        <tbody class="home__section__items__list row">
                                            <tr *ngFor="let item of currentPrivacyDetail?.level.detail?.items" class="home__section__items__list__item d-flex align-items-center">
                                                <td class="w-90 p-l-3-sm">{{item.issue}}</td>
                                                <td class="w-10 text-center text-bold">{{item.pages}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="home__section__items__list__item__note">Want to see more issues? <a href="https://go.monsido.com/demo?utm_source=report-page&utm_medium=accordions&utm_content=book-a-demo&utm_campaign=snapshot-report-flow" target="_blank">Book a demo</a></p>
                                </ng-template>
                            </accordion-item>
                        </accordion>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Mobile, Small Tablet -->
        <table class="table home__section__information" *ngIf="innerWidth < 768">
            <thead>
                <tr class="home__section__information__header row">
                    <th class="home__section__information__header__level text-center">Data Privacy Checks</th>
                    <th class="home__section__information__header__page">Affects Pages</th>
                </tr>
            </thead>
            <tbody>
                <tr class="d-flex align-items-center" >
                    <td class="w-100">
                        <accordion [collapsing]="collapsing" (indexChange)="changeIndex($event, 'privacy')">
                            <accordion-item *ngFor="let data of PRIVACY_DATA; let i = index">
                                <ng-template accordionHeader let-toggle="toggle">
                                    <div class="d-flex align-items-center hover-polar" (click)="toggle()" >
                                        <div class="d-flex align-items-center home__section__information__body__level privacy">
                                            <div class="d-flex">
                                                <span class="home__section__information__body__level__number">{{i+1}}.</span>
                                                <img [src]="data.level.icon" class="home__section__information__body__level__icon ms-2" alt="">
                                            </div>
                                            <span class="home__section__information__body__level__text">{{data.level.text}}</span>
                                        </div>
                                        <div class="w-15 home__section__information__body__page privacy justify-content-center align-items-center">
                                            <div class="home__section__information__body__page__box text-center"
                                                [class.highlight]="currentPrivacyIndex === i">
                                                <span>{{data.level.pages}}</span>
                                                <img class="home__section__information__body__page__box__icon ms-3"
                                                [class.rotate-180]="currentPrivacyIndex === i"
                                                [src]="'./assets/icons/down-arrow-bold.svg'"
                                                [class.rotate-180]="currentPrivacyIndex === i"
                                                alt=""/>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template accordionContent>
                                    <table class="table home__section__items d-flex flex-column">
                                        <thead>
                                            <tr class="w-100 home__section__items__header d-flex">
                                                <th class="w-90">Check issues</th>
                                                <th class="w-10">Pages</th>
                                            </tr>
                                        </thead>
                                        <tbody class="home__section__items__list row">
                                            <tr *ngFor="let item of currentPrivacyDetail?.level.detail?.items" class="home__section__items__list__item d-flex align-items-center">
                                                <td class="w-90">{{item.issue}}</td>
                                                <td class="w-10 text-right text-bold">{{item.pages}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="home__section__items__list__item__note">Want to see more issues? <a href="https://go.monsido.com/demo?utm_source=report-page&utm_medium=accordions&utm_content=book-a-demo&utm_campaign=snapshot-report-flow" target="_blank">Book a demo</a></p>
                                </ng-template>
                            </accordion-item>
                        </accordion>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <!-- Performance -->
    <section class="home__section container-fluid">
        <div class="row p-left">
            <div class="home__section__circular-progress">
                <app-circular-progress-bar [value]="97.7"></app-circular-progress-bar>
            </div>
            <div class="home__section__content d-flex flex-column">
                <div class="home__section__content__header d-flex flex-row align-items-center">
                    <img class="img-fluid" src="./assets/icons/performance.svg" alt="" />
                    <h2 class="home__section__content__header__title m-l-20">
                        Performance
                    </h2>
                </div>
                <p class="home__section__content__des">
                    Your Performance score highlights how quickly your site loads for visitors based on network speed, location, and device used.
                </p>
                <div class="home__section__content__note is-hide">
                    Learn more about Performance Insights 
                    <a href="https://monsido.com/platform/performance" target="_blank" class="home__section__content__note__link">here</a>
                </div>
            </div>
            <div class="home__section__content__note">
                Learn more about Performance Insights 
                <a href="https://monsido.com/platform/performance" target="_blank" class="home__section__content__note__link">here</a>
            </div>
        </div>
        <hr>
        <div class="home__section__performance-level p-left d-flex justify-content-between">
            <div class="d-flex home__section__performance-level__item">
                <div class="marbles level-short"></div>
                <p class="m-l-20">90 - 100 Short</p>
            </div>
            <div class="d-flex home__section__performance-level__item">
                <div class="marbles level-medium"></div>
                <p class="m-l-20">50 - 89 Medium</p>
            </div>
            <div class="d-flex home__section__performance-level__item">
                <div class="marbles level-long"></div>
                <p class="m-l-20">0 - 49 Long</p>
            </div>
        </div>
        <div class="p-left d-flex flex-wrap justify-content-between m-t-20">
            <div class="home__section__performance-detail d-flex align-items-center">
                <div class="border purple-heart"></div>
                <div class="m-l-20">
                    <p>First Contentful Paint (FCP)</p>
                    <p class="home__section__performance-detail__measure">AVG: 3.094 ms</p>
                </div>
            </div>
            <div class="home__section__performance-detail d-flex align-items-center">
                <div class="border wivid-tangerine"></div>
                <div class="m-l-20">
                    <p>First Contentful Paint (FCP)</p>
                    <p class="home__section__performance-detail__measure">AVG: 3.094 ms</p>
                </div>
            </div>
            <div class="home__section__performance-detail d-flex align-items-center">
                <div class="border scooter"></div>
                <div class="m-l-20">
                    <p>First Contentful Paint (FCP)</p>
                    <p class="home__section__performance-detail__measure">AVG: 3.094 ms</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Promote -->
    <section class="home__section container-fluid">
        <!-- Mobile -->
        <div class="home__section__promote" *ngIf="innerWidth <= 480">
            <h1 class="home__section__promote__title">Get a Comprehensive Analysis of Your Site</h1>
            <div class="home__section__promote__img">
                <img class="img-fluild" src="./assets/icons/laptop.svg" alt="">
            </div>
            <p class="home__section__promote__desc">Your Snapshot Report is just a preview of everything Monsido can do to optimize your website. Book a demo with our team to find out how our platform can enhance your web governance efforts.</p>
            <button class="btn home__section__promote__btn" (click)="bookDemo()">Book a Demo</button>
        </div>
        <div class="home__section__promote" *ngIf="innerWidth > 480 && innerWidth <= 992">
            <div class="d-flex align-items-center">
                <h1 class="home__section__promote__title">Get a Comprehensive Analysis of Your Site</h1>
                <div class="home__section__promote__img">
                    <img class="img-fluild" src="./assets/icons/laptop.svg" alt="">
                </div>
            </div>
            <p class="home__section__promote__desc">Your Snapshot Report is just a preview of everything Monsido can do to optimize your website. Book a demo with our team to find out how our platform can enhance your web governance efforts.</p>
            <button class="btn home__section__promote__btn" (click)="bookDemo()">Book a Demo</button>
        </div>
        <div class="home__section__promote d-flex flex-row" *ngIf="innerWidth > 992">
            <div class="home__section__promote__left">
                <h1 class="home__section__promote__title">Get a Comprehensive Analysis of Your Site</h1>
                <p class="home__section__promote__desc">Your Snapshot Report is just a preview of everything Monsido can do to optimize your website. Book a demo with our team to find out how our platform can enhance your web governance efforts.</p>
                <button class="btn home__section__promote__btn" (click)="bookDemo()">Book a Demo</button>
            </div>
            <div class="home__section__promote__img">
                <img class="img-fluild" src="./assets/icons/laptop.svg" alt="">
            </div>
        </div>
    </section>
</div>