// @import "../core/styles/styles.scss";
@import "~src/app/core/styles/styles.scss";

.home {
    &__section {
        margin: 100px 0;

        @include respond-from(sm) {
            margin-top: 70px 0;
        }

        &__banner {
            @include respond-to(xs) {
                padding: 0 30px;
            }

            @include respond-from(md) {
                display: flex;
                margin: 0 auto;
            }


            &__left {
                @include respond-from (md) {
                    width: 45%;
                    padding: 0 60px 0 60px;
                    text-align: left;
                }

                &__title {
                    width: fit-content;
                    line-height: 80px;
                    font-size: 50px;
                    font-weight: bold;
                    margin-bottom: 60px;
                    
                    @include respond-from(md) {
                        font-size: 36px;
                        margin-top: 30px;
                        margin-bottom: 40px;
                        width: 200px;
                        line-height: 50px;
                    }
                }

                &__desc {
                    margin-bottom: 30px;
                    
                    @include respond-from(md) {
                        margin-top: 30px;
                        margin-bottom: 60px;
                        font-size: $font-sm;
                    }
                }

                &__detail {
                    margin-top: 30px;
                }
            }

            &__right {
                margin-top: 30px;

                @include respond-from(md) {
                    width: 50%;
                    padding: 0 30px;
                }
            }
        }

        &__circular-progress {
            width: 40%;
            padding: 0;

            @include respond-from(sm) {
                width: fit-content;
            }
        }

        &__content {
            width: 60%;

            @include respond-from(md) {
                margin-bottom: 60px;
                width: 70%;
                margin-left: 35px;
            }

            &__header {
                margin-bottom: 30px;

                &__title {
                    font-size: $font-sm;
                    font-weight: normal;

                    @include respond-from(sm) {
                        font-size: 2 * $font-xs;
                    }

                    @include respond-from(md) {
                        font-size: 38px;
                    }
                }
            }

            &__des {
                font-size: 12px;
                margin-bottom: 30px;

                @include respond-from(sm) {
                    font-size: $font-sm;
                    width: 75%;
                }
            }

            &__note {
                font-size: 10px;
                margin-bottom: 40px;

                &__link {
                    text-decoration: underline;
                    letter-spacing: 0px;
                    color: $c-scooter;
                }

                @include respond-from(sm) {
                    display: none;
                }

                &.is-hide {
                    display: none;

                    @include respond-from(sm) {
                        display: initial;
                        font-size: $font-xs;
                    }
                }
            }
        }

        &__information {
            &__header {
                @include respond-from(md) {
                    height: 50px;
                }
                
                &__level {
                    width: 100%;
                    opacity: 0.7;

                    @include respond-from(sm) {
                        width: calc(55% - 1px);
                    }

                    &__img {
                        width: 20px;
                        height: auto;
                        margin-left: 10px;
                    }

                    &__readability {
                        font-size: 12px;
                        width: 60%;
                    }

                    &__college {
                        font-size: 12px;
                        width: 40%;
                    }
                }

                &__domain {
                    opacity: 0.7;
                    width: calc(60% - 2px);

                    @include respond-from(sm) {
                        display: initial;
                        width: calc(30% - 7px);
                    }
                }

                &__page {
                    opacity: 0.7;
                    width: 40%;

                    @include respond-from(sm) {
                        width: 15%;
                        display: initial;
                    }
                }
            }

            &__bottom {
                border-top: 2px solid $c-gallery;
                border-bottom: 2px solid $c-gallery;
                height: 60px;
                width: 100%;
                color: $c-black;

                @include respond-from(md) {
                    border-right: 2px solid $c-gallery;
                    border-bottom: 2px solid $c-gallery;
                    width: calc(55% + 3px);
                }
            }

            &__body {
                &__level {
                    width: 100%;

                    @include respond-from(md) {
                        width: 55%;
                    }
                }

                &__domain {
                    width: 60%;

                    @include respond-from(md) {
                        display: flex;
                        width: 30%;
                    }
                }

                &__page {
                    width: 40%;

                    @include respond-from(md) {
                        display: flex;
                        width: 15%;
                    }
                }
            }

            &__header {
                text-align: left;
                letter-spacing: 0px;
                border-top: 2px solid $c-gallery;
                
                &__level,
                &__domain,
                &__page {
                    color: #9aa8b2;
                    padding: 20px 0;
                }

                &__domain {
                    border-right: 2px solid $c-gallery;

                    @include respond-from(sm) {
                        border-right: 2px solid $c-gallery;
                        border-left: 2px solid $c-gallery;
                    }
                }
            }

            &__body {
                &__level,
                &__domain,
                &__page {
                    padding: 10px 0;
                }

                &:last-child {
                    border-bottom: 2px solid $c-gallery;
                }

                &__level {
                    @include respond-from(sm) {
                        width: 55%;
                    }

                    @include respond-from(md) {
                        padding-left: 60px;
                    }

                    &__number {
                        opacity: 0.4;
                    }

                    &__icon {
                        width: 24px;
                        height: 24px;
                    }

                    &__text {
                        margin-left: 31px;
                        color: $c-blue-whale;
                    }
                }

                &__domain {
                    width: 60%;
                    display: flex;
                    flex-wrap: nowrap;
                    border-right: 2px solid $c-gallery;
                    padding: 0 20px;

                    @include respond-from(sm) {
                        width: 30%;
                        border-left: 2px solid $c-gallery;
                        border-right: 2px solid $c-gallery;
                    }

                    &__progress {
                        width: 100%;
                        height: 9px;
                        padding: 0;

                        @include respond-from(md) {
                            width: 40%;
                            max-width: 90px;
                        }
                    }

                    &__percent {
                        font-size: $font-xs;
                        letter-spacing: 0px;
                        color: $c-blue-whale;
                        margin-left: 14px;
                    }
                }

                &__page {
                    display: flex;
                    width: 40%;

                    @include respond-from(sm) {
                        width: 15%;
                    }

                    &__box {
                        justify-content: flex-end;

                        @include respond-from(md) {
                            justify-content: initial;
                        }

                        position: relative;
                        width: fit-content;
                        background-color: #f4f2f0;
                        border-radius: 3px;
                        padding: 8px 18px !important;
                        font-weight: bold;

                        &__icon {
                            position: absolute;
                            right: -35px;
                            top: 13px;
                            cursor: pointer;
                            height: 15px;
                        }

                        &.highlight {
                            background-color: $c-spray;
                        }
                    }
                }

            }
        }

        &__detail {
            display: none;

            @include respond-from(sm) {
                display: flex;
            }

            &__left {
                width: 100%;

                @include respond-from(md) {
                    width: 50%;
                    margin: 0;
                    padding-top: 30px;
                    padding-left: 64px;
                }

                &__title {
                    font-size: $font-sm;
                }

                &__found {
                    font-size: $font-xs;
                    opacity: 0.4;
                }
            }

            &__right {
                width: 100%;

                @include respond-from(md) {
                    width: 50%;
                    padding-right: 1%;
                    justify-content: flex-end;
                }

                @include respond-from(lg) {
                    padding-right: 3%;
                }

                &__progress {
                    width: 85%;
                    max-width: 465px;
                    height: 18px;

                    @include respond-from(sm) {
                        width: 100%;
                        max-width: 550px;
                    }

                    @include respond-from(md) {
                        width: 80%;
                        max-width: 560px;
                    }

                    @include respond-from(lg) {
                        width: 100%;
                        max-width: 560px;
                    }

                    &__icon {
                        width: fit-content;
                        cursor: pointer;
                        height: 15px;
                    }
                }
            }
        }

        &__items {
            padding-top: 27px;
            display: none;

            @include respond-from(md) {
                display: flex;
            }

            &__header {
                margin-top: 60px;
                opacity: 0.4;

                @include respond-from(sm) {
                    width: 88%;
                    justify-content: space-between;
                }

                @include respond-from(md) {
                    width: 100%;
                    margin-top: inherit;
                    padding-left: 145px;
                    padding-right: 4%;
                }

                @include respond-from(lg) {
                    padding-right: 4.5em;
                }

                &__priority {
                    display: none;

                    @include respond-from(sm) {
                        display: flex;
                    }
                }
            }

            &__list {
                padding-left: 30px;

                @include respond-from(md) {
                    padding-left: initial;
                }

                &__item {
                    border-top: 1px solid #eeeeee;
                    padding: 10px 0;

                    @include respond-from(md) {
                        padding-left: 80px;
                    }

                    &__left {
                        @include respond-from(md) {
                            width: 50%;
                        }

                        &__title {
                            font-weight: bold;
                            font-size: $font-sm;
                        }

                        &__link {
                            cursor: pointer;

                            &__icon {
                                width: 15px;
                            }

                            &__url:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    &__right {
                        display: none;

                        @include respond-from(sm) {
                            display: flex;
                            width: 50%;
                            justify-content: flex-end;
                            padding-right: 2%;
                        }

                        @include respond-from(md) {
                            justify-content: space-between;
                        }

                        @include respond-from(lg) {
                            padding-right: 3em;
                        }

                        &__more {
                            display: none;

                            @include respond-from(md) {
                                display: initial;
                            }
                        }

                        &__priority {
                            @include respond-from(md) {
                                justify-content: flex-end;
                            }

                            &__box {
                                font-size: $font-md;
                                font-weight: bold;
                                border: 3px;
                                padding: 2px 15px;
                            }

                            .box--low {
                                color: $c-keppel;
                                background-color: $c-spray;
                            }

                            .box--high {
                                color: $c-tall-poppy;
                                background-color: $c-vivid-tangerine;
                                transform: translateX(7%);
                            }

                            .box--medium {
                                color: $c-indochine;
                                background-color: $c-bright-sun;
                                transform: translateX(20%);
                            }
                        }
                    }
                }
            }
        }
    }
}

.no-wrap {
    flex-wrap: nowrap;
}

.p-left {
    @include respond-from(md) {
        padding-left: 60px;
    }
}

.b-r {
    border-right: 2px solid #eeeeee;
}

th {
    font-weight: normal;
}

td, tr, th {
    border: none;
}

// .table>:not(caption)>*>* {
//     padding: 0;
// }
