<div class="home container">
  <app-header></app-header>
  <hr />

  <!-- Accessibility -->
  <div class="home__section container-fluid">
    <div class="row">
      <div class="home__section__circular-progress">
        <app-circular-progress-bar [value]="97.7"></app-circular-progress-bar>
      </div>
      <div class="home__section__content d-flex flex-column">
        <div class="home__section__content__header d-flex flex-row align-items-center">
          <img class="img-fluid" src="./assets/icons/human.svg" alt="human" />
          <h3 class="home__section__content__header__title ms-3">
            Accessibility
          </h3>
        </div>

        <p class="home__section__content__des">
          Great job! You are performing better than 80% of companies
          in your industry in section. Lorem Epsom dollar its
          amet.
        </p>
        <p class="home__section__content__note">
          Would like to see more from your report and how to fix it?
          <br />
          Learn more
          <span class="home__section__content__note__link">here</span>
        </p>
      </div>
    </div>

    <div class="home__section__information">
      <div class="home__section__information__header row">
        <span class="home__section__information__header__level">Level A Accessibility Checks</span>
        <span class="home__section__information__header__domain text-center">Domain compliance</span>
        <span class="home__section__information__header__page text-center">Pages</span>
      </div>

      <div class="home__section__information__body row" *ngFor="let data of ACCESSIBILY_DATA; let i = index">
        <div class="home__section__information__body__level">
          <div class="d-flex align-items-center">
            <span class="home__section__information__body__level__number">{{i+1}}.</span>
            <img [src]="data.level.icon" class="home__section__information__body__level__icon ms-2" alt="icon">
            <span class="home__section__information__body__level__text">{{data.level.text}}</span>
          </div>
        </div>

        <div class="home__section__information__body__domain justify-content-center align-items-center">
          <div class="home__section__information__body__domain__progress">
            <app-progress-bar [bottomText]="false" [valueMax]="100"
              [valueNow]="data.domain.percent">
            </app-progress-bar>

          </div>
          <span class="home__section__information__body__domain__percent">{{data.domain.percent}}%</span>
        </div>

        <div class="home__section__information__body__page justify-content-center align-items-center">
          <div class="home__section__information__body__page__box text-center"
            [class.highlight]="currentRowIndex === i">
            <span>{{data.pages.value}}</span>

            <img class="home__section__information__body__page__box__icon ms-3"
              [src]=" currentRowIndex === i ? './assets/icons/down-arrow-bold.svg' : './assets/icons/down-arrow.svg'"
              alt="arrow" (click)="onShowDetail(data, i)" />
          </div>
        </div>
      </div>
    </div>

    <div class="home__section__detail row justify-content-between align-items-center">
      <div class="home__section__detail__left  align-items-center">
        <span class="home__section__detail__left__title">{{currentDetail?.level?.text}}
        </span>
        <p class="home__section__detail__left__found">{{currentDetail?.pages?.value}} pages found</p>
      </div>

      <div class="home__section__detail__right d-flex align-items-center">
        <div class="home__section__detail__right__progress ">
          <app-progress-bar [valueMax]="100" [valueNow]="currentDetail.detail.percent"
            [totalPage]="currentDetail?.detail?.totalPage" [page]="currentDetail?.pages?.value"></app-progress-bar>
        </div>
        <img class="home__section__detail__right__progress__icon ms-3" src="./assets/icons/down-arrow.svg"
          alt="arrow" />
      </div>
    </div>

    <div class="home__section__items row">
      <div class="home__section__items__header d-flex">
        <p class="home__section__items__header__title">Title and URL</p>
        <p class="home__section__items__header__priority">Priority</p>
      </div>

      <div class="home__section__items__list row">
        <div *ngFor="let item of currentDetail?.detail?.items" class="home__section__items__list__item d-flex">
          <div class="home__section__items__list__item__left">
            <div class="home__section__items__list__item__left__title">{{item.name}}</div>
            <div class="home__section__items__list__item__left__link d-flex align-items-center">
              <img class="home__section__items__list__item__left__link__icon" src="./assets/icons/open-link.png" alt="">
              <span class="home__section__items__list__item__left__link__url ms-2">{{item.url}}</span>
            </div>
          </div>
          <div class="home__section__items__list__item__right align-items-center">
            <div [style.visibility]="item.moreFunc ? 'visible' : 'hidden'"
              class="home__section__items__list__item__right__more">more function?</div>
            <div class="home__section__items__list__item__right__priority">
              <div [class]="'home__section__items__list__item__right__priority__box '  + getBoxColor(item.priority)">
                {{item.priority}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Quality Assurance -->
  <div class="home__section container-fluid">
    <div class="row">
      <div class="home__section__circular-progress">
        <app-circular-progress-bar [value]="64.4"></app-circular-progress-bar>
      </div>
      <div class="home__section__content d-flex flex-column">
        <div class="home__section__content__header d-flex flex-row align-items-center">
          <img class="img-fluid" src="./assets/icons/human.svg" alt="human" />
          <h3 class="home__section__content__header__title ms-3">
            Quality Assurance
          </h3>
        </div>

        <p class="home__section__content__des">
          Great job! You are performing better than 80% of companies
          in your industry in section. Lorem Epsom dollar its
          amet.
        </p>
        <p class="home__section__content__note">
          Would like to see more from your report and how to fix it?
          <br />
          Learn more
          <span class="home__section__content__note__link">here</span>
        </p>
      </div>
    </div>

    <div class="home__section__information">
      <div class="home__section__information__header row">
        <span class="home__section__information__header__level">Level A Accessibility Checks</span>
        <span class="home__section__information__header__domain text-center">Domain compliance</span>
        <span class="home__section__information__header__page text-center">Pages</span>
      </div>

      <div class="home__section__information__body row" *ngFor="let data of ACCESSIBILY_DATA; let i = index">
        <div class="home__section__information__body__level">
          <div class="d-flex align-items-center">
            <span class="home__section__information__body__level__number">{{i+1}}.</span>
            <img [src]="data.level.icon" class="home__section__information__body__level__icon ms-2" alt="icon">
            <span class="home__section__information__body__level__text">{{data.level.text}}</span>
          </div>
        </div>

        <div class="home__section__information__body__domain justify-content-center align-items-center">
          <div class="home__section__information__body__domain__progress">
            <app-progress-bar [bottomText]="false" [valueMax]="100"
              [valueNow]="data.domain.percent">
            </app-progress-bar>

          </div>
          <span class="home__section__information__body__domain__percent">{{data.domain.percent}}%</span>
        </div>

        <div class="home__section__information__body__page justify-content-center align-items-center">
          <div class="home__section__information__body__page__box text-center"
            [class.highlight]="currentRowIndex === i">
            <span>{{data.pages.value}}</span>

            <img class="home__section__information__body__page__box__icon ms-3"
              [src]=" currentRowIndex === i ? './assets/icons/down-arrow-bold.svg' : './assets/icons/down-arrow.svg'"
              alt="arrow" (click)="onShowDetail(data, i)" />
          </div>
        </div>
      </div>
      <div class="home__section__information__bottom column d-flex align-items-center">
        <span class="home__section__information__header__level">Readability View</span>
        <span class="home__section__information__header__level">College
          <img class="home__section__information__header__level__img img-fluid" src="./assets/icons/eye.svg" alt="eye" />
        </span>
      </div>
    </div>

    <div class="home__section__detail row justify-content-between align-items-center">
      <div class="home__section__detail__left  align-items-center">
        <span class="home__section__detail__left__title">{{currentDetail?.level?.text}}
        </span>
        <p class="home__section__detail__left__found">{{currentDetail?.pages?.value}} pages found</p>
      </div>

      <div class="home__section__detail__right d-flex align-items-center">
        <div class="home__section__detail__right__progress ">
          <app-progress-bar [valueMax]="100" [valueNow]="currentDetail.detail.percent"
            [totalPage]="currentDetail?.detail?.totalPage" [page]="currentDetail?.pages?.value"></app-progress-bar>
        </div>
        <img class="home__section__detail__right__progress__icon ms-3" src="./assets/icons/down-arrow.svg"
          alt="arrow" />
      </div>
    </div>

    <div class="home__section__items row">
      <div class="home__section__items__header d-flex">
        <p class="home__section__items__header__title">Title and URL</p>
        <p class="home__section__items__header__priority">Priority</p>
      </div>

      <div class="home__section__items__list row">
        <div *ngFor="let item of currentDetail?.detail?.items" class="home__section__items__list__item d-flex">
          <div class="home__section__items__list__item__left">
            <div class="home__section__items__list__item__left__title">{{item.name}}</div>
            <div class="home__section__items__list__item__left__link d-flex align-items-center">
              <img class="home__section__items__list__item__left__link__icon" src="./assets/icons/open-link.png" alt="">
              <span class="home__section__items__list__item__left__link__url ms-2">{{item.url}}</span>
            </div>
          </div>
          <div class="home__section__items__list__item__right align-items-center">
            <div [style.visibility]="item.moreFunc ? 'visible' : 'hidden'"
              class="home__section__items__list__item__right__more">more function?</div>
            <div class="home__section__items__list__item__right__priority">
              <div [class]="'home__section__items__list__item__right__priority__box '  + getBoxColor(item.priority)">
                {{item.priority}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SEO -->
  <div class="home__section container-fluid">
    <div class="row">
      <div class="home__section__circular-progress">
        <app-circular-progress-bar [value]="97.7"></app-circular-progress-bar>
      </div>
      <div class="home__section__content d-flex flex-column">
        <div class="home__section__content__header d-flex flex-row align-items-center">
          <img class="img-fluid" src="./assets/icons/human.svg" alt="human" />
          <h3 class="home__section__content__header__title ms-3">
            SEO
          </h3>
        </div>

        <p class="home__section__content__des">
          Great job! You are performing better than 80% of companies
          in your industry in section. Lorem Epsom dollar its
          amet.
        </p>
        <p class="home__section__content__note">
          Would like to see more from your report and how to fix it?
          <br />
          Learn more
          <span class="home__section__content__note__link">here</span>
        </p>
      </div>
    </div>

    <div class="home__section__information">
      <div class="home__section__information__header row">
        <span class="home__section__information__header__level">Level A Accessibility Checks</span>
        <span class="home__section__information__header__domain text-center">Domain compliance</span>
        <span class="home__section__information__header__page text-center">Pages</span>
      </div>

      <div class="home__section__information__body row" *ngFor="let data of ACCESSIBILY_DATA; let i = index">
        <div class="home__section__information__body__level">
          <div class="d-flex align-items-center">
            <span class="home__section__information__body__level__number">{{i+1}}.</span>
            <img [src]="data.level.icon" class="home__section__information__body__level__icon ms-2" alt="icon">
            <span class="home__section__information__body__level__text">{{data.level.text}}</span>
          </div>
        </div>

        <div class="home__section__information__body__domain justify-content-center align-items-center">
          <div class="home__section__information__body__domain__progress">
            <app-progress-bar [bottomText]="false" [valueMax]="100"
              [valueNow]="data.domain.percent">
            </app-progress-bar>

          </div>
          <span class="home__section__information__body__domain__percent">{{data.domain.percent}}%</span>
        </div>

        <div class="home__section__information__body__page justify-content-center align-items-center">
          <div class="home__section__information__body__page__box text-center"
            [class.highlight]="currentRowIndex === i">
            <span>{{data.pages.value}}</span>

            <img class="home__section__information__body__page__box__icon ms-3"
              [src]=" currentRowIndex === i ? './assets/icons/down-arrow-bold.svg' : './assets/icons/down-arrow.svg'"
              alt="arrow" (click)="onShowDetail(data, i)" />
          </div>
        </div>
      </div>
    </div>

    <div class="home__section__detail row justify-content-between align-items-center">
      <div class="home__section__detail__left  align-items-center">
        <span class="home__section__detail__left__title">{{currentDetail?.level?.text}}
        </span>
        <p class="home__section__detail__left__found">{{currentDetail?.pages?.value}} pages found</p>
      </div>

      <div class="home__section__detail__right d-flex align-items-center">
        <div class="home__section__detail__right__progress ">
          <app-progress-bar [valueMax]="100" [valueNow]="currentDetail.detail.percent"
            [totalPage]="currentDetail?.detail?.totalPage" [page]="currentDetail?.pages?.value"></app-progress-bar>
        </div>
        <img class="home__section__detail__right__progress__icon ms-3" src="./assets/icons/down-arrow.svg"
          alt="arrow" />
      </div>
    </div>

    <div class="home__section__items row">
      <div class="home__section__items__header d-flex">
        <p class="home__section__items__header__title">Title and URL</p>
        <p class="home__section__items__header__priority">Priority</p>
      </div>

      <div class="home__section__items__list row">
        <div *ngFor="let item of currentDetail?.detail?.items" class="home__section__items__list__item d-flex">
          <div class="home__section__items__list__item__left">
            <div class="home__section__items__list__item__left__title">{{item.name}}</div>
            <div class="home__section__items__list__item__left__link d-flex align-items-center">
              <img class="home__section__items__list__item__left__link__icon" src="./assets/icons/open-link.png" alt="">
              <span class="home__section__items__list__item__left__link__url ms-2">{{item.url}}</span>
            </div>
          </div>
          <div class="home__section__items__list__item__right align-items-center">
            <div [style.visibility]="item.moreFunc ? 'visible' : 'hidden'"
              class="home__section__items__list__item__right__more">more function?</div>
            <div class="home__section__items__list__item__right__priority">
              <div [class]="'home__section__items__list__item__right__priority__box '  + getBoxColor(item.priority)">
                {{item.priority}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Policy -->
  <div class="home__section container-fluid">
    <div class="row">
      <div class="home__section__circular-progress">
        <app-circular-progress-bar [value]="97.7"></app-circular-progress-bar>
      </div>
      <div class="home__section__content d-flex flex-column">
        <div class="home__section__content__header d-flex flex-row align-items-center">
          <img class="img-fluid" src="./assets/icons/human.svg" alt="human" />
          <h3 class="home__section__content__header__title ms-3">
            Content Policy
          </h3>
        </div>

        <p class="home__section__content__des">
          Great job! You are performing better than 80% of companies
          in your industry in section. Lorem Epsom dollar its
          amet.
        </p>
        <p class="home__section__content__note">
          Would like to see more from your report and how to fix it?
          <br />
          Learn more
          <span class="home__section__content__note__link">here</span>
        </p>
      </div>
    </div>

    <div class="home__section__information">
      <div class="home__section__information__header row">
        <span class="home__section__information__header__level">Level A Accessibility Checks</span>
        <span class="home__section__information__header__domain text-center">Domain compliance</span>
        <span class="home__section__information__header__page text-center">Pages</span>
      </div>

      <div class="home__section__information__body row" *ngFor="let data of ACCESSIBILY_DATA; let i = index">
        <div class="home__section__information__body__level">
          <div class="d-flex align-items-center">
            <span class="home__section__information__body__level__number">{{i+1}}.</span>
            <img [src]="data.level.icon" class="home__section__information__body__level__icon ms-2" alt="icon">
            <span class="home__section__information__body__level__text">{{data.level.text}}</span>
          </div>
        </div>

        <div class="home__section__information__body__domain justify-content-center align-items-center">
          <div class="home__section__information__body__domain__progress">
            <app-progress-bar [bottomText]="false" [valueMax]="100"
              [valueNow]="data.domain.percent">
            </app-progress-bar>

          </div>
          <span class="home__section__information__body__domain__percent">{{data.domain.percent}}%</span>
        </div>

        <div class="home__section__information__body__page justify-content-center align-items-center">
          <div class="home__section__information__body__page__box text-center"
            [class.highlight]="currentRowIndex === i">
            <span>{{data.pages.value}}</span>

            <img class="home__section__information__body__page__box__icon ms-3"
              [src]=" currentRowIndex === i ? './assets/icons/down-arrow-bold.svg' : './assets/icons/down-arrow.svg'"
              alt="arrow" (click)="onShowDetail(data, i)" />
          </div>
        </div>
      </div>
    </div>

    <div class="home__section__detail row justify-content-between align-items-center">
      <div class="home__section__detail__left  align-items-center">
        <span class="home__section__detail__left__title">{{currentDetail?.level?.text}}
        </span>
        <p class="home__section__detail__left__found">{{currentDetail?.pages?.value}} pages found</p>
      </div>

      <div class="home__section__detail__right d-flex align-items-center">
        <div class="home__section__detail__right__progress ">
          <app-progress-bar [valueMax]="100" [valueNow]="currentDetail.detail.percent"
            [totalPage]="currentDetail?.detail?.totalPage" [page]="currentDetail?.pages?.value"></app-progress-bar>
        </div>
        <img class="home__section__detail__right__progress__icon ms-3" src="./assets/icons/down-arrow.svg"
          alt="arrow" />
      </div>
    </div>

    <div class="home__section__items row">
      <div class="home__section__items__header d-flex">
        <p class="home__section__items__header__title">Title and URL</p>
        <p class="home__section__items__header__priority">Priority</p>
      </div>

      <div class="home__section__items__list row">
        <div *ngFor="let item of currentDetail?.detail?.items" class="home__section__items__list__item d-flex">
          <div class="home__section__items__list__item__left">
            <div class="home__section__items__list__item__left__title">{{item.name}}</div>
            <div class="home__section__items__list__item__left__link d-flex align-items-center">
              <img class="home__section__items__list__item__left__link__icon" src="./assets/icons/open-link.png" alt="">
              <span class="home__section__items__list__item__left__link__url ms-2">{{item.url}}</span>
            </div>
          </div>
          <div class="home__section__items__list__item__right align-items-center">
            <div [style.visibility]="item.moreFunc ? 'visible' : 'hidden'"
              class="home__section__items__list__item__right__more">more function?</div>
            <div class="home__section__items__list__item__right__priority">
              <div [class]="'home__section__items__list__item__right__priority__box '  + getBoxColor(item.priority)">
                {{item.priority}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Data Privacy -->
  <div class="home__section container-fluid">
    <div class="row">
      <div class="home__section__circular-progress">
        <app-circular-progress-bar [value]="97.7"></app-circular-progress-bar>
      </div>
      <div class="home__section__content d-flex flex-column">
        <div class="home__section__content__header d-flex flex-row align-items-center">
          <img class="img-fluid" src="./assets/icons/human.svg" alt="human" />
          <h3 class="home__section__content__header__title ms-3">
            Data Privacy
          </h3>
        </div>

        <p class="home__section__content__des">
          Great job! You are performing better than 80% of companies
          in your industry in section. Lorem Epsom dollar its
          amet.
        </p>
        <p class="home__section__content__note">
          Would like to see more from your report and how to fix it?
          <br />
          Learn more
          <span class="home__section__content__note__link">here</span>
        </p>
      </div>
    </div>

    <div class="home__section__information">
      <div class="home__section__information__header row">
        <span class="home__section__information__header__level">Level A Accessibility Checks</span>
        <span class="home__section__information__header__domain text-center">Domain compliance</span>
        <span class="home__section__information__header__page text-center">Pages</span>
      </div>

      <div class="home__section__information__body row" *ngFor="let data of ACCESSIBILY_DATA; let i = index">
        <div class="home__section__information__body__level">
          <div class="d-flex align-items-center">
            <span class="home__section__information__body__level__number">{{i+1}}.</span>
            <img [src]="data.level.icon" class="home__section__information__body__level__icon ms-2" alt="icon">
            <span class="home__section__information__body__level__text">{{data.level.text}}</span>
          </div>
        </div>

        <div class="home__section__information__body__domain justify-content-center align-items-center">
          <div class="home__section__information__body__domain__progress">
            <app-progress-bar [bottomText]="false" [valueMax]="100"
              [valueNow]="data.domain.percent">
            </app-progress-bar>

          </div>
          <span class="home__section__information__body__domain__percent">{{data.domain.percent}}%</span>
        </div>

        <div class="home__section__information__body__page justify-content-center align-items-center">
          <div class="home__section__information__body__page__box text-center"
            [class.highlight]="currentRowIndex === i">
            <span>{{data.pages.value}}</span>

            <img class="home__section__information__body__page__box__icon ms-3"
              [src]=" currentRowIndex === i ? './assets/icons/down-arrow-bold.svg' : './assets/icons/down-arrow.svg'"
              alt="arrow" (click)="onShowDetail(data, i)" />
          </div>
        </div>
      </div>
    </div>

    <div class="home__section__detail row justify-content-between align-items-center">
      <div class="home__section__detail__left  align-items-center">
        <span class="home__section__detail__left__title">{{currentDetail?.level?.text}}
        </span>
        <p class="home__section__detail__left__found">{{currentDetail?.pages?.value}} pages found</p>
      </div>

      <div class="home__section__detail__right d-flex align-items-center">
        <div class="home__section__detail__right__progress ">
          <app-progress-bar [valueMax]="100" [valueNow]="currentDetail.detail.percent"
            [totalPage]="currentDetail?.detail?.totalPage" [page]="currentDetail?.pages?.value"></app-progress-bar>
        </div>
        <img class="home__section__detail__right__progress__icon ms-3" src="./assets/icons/down-arrow.svg"
          alt="arrow" />
      </div>
    </div>

    <div class="home__section__items row">
      <div class="home__section__items__header d-flex">
        <p class="home__section__items__header__title">Title and URL</p>
        <p class="home__section__items__header__priority">Priority</p>
      </div>

      <div class="home__section__items__list row">
        <div *ngFor="let item of currentDetail?.detail?.items" class="home__section__items__list__item d-flex">
          <div class="home__section__items__list__item__left">
            <div class="home__section__items__list__item__left__title">{{item.name}}</div>
            <div class="home__section__items__list__item__left__link d-flex align-items-center">
              <img class="home__section__items__list__item__left__link__icon" src="./assets/icons/open-link.png" alt="">
              <span class="home__section__items__list__item__left__link__url ms-2">{{item.url}}</span>
            </div>
          </div>
          <div class="home__section__items__list__item__right align-items-center">
            <div [style.visibility]="item.moreFunc ? 'visible' : 'hidden'"
              class="home__section__items__list__item__right__more">more function?</div>
            <div class="home__section__items__list__item__right__priority">
              <div [class]="'home__section__items__list__item__right__priority__box '  + getBoxColor(item.priority)">
                {{item.priority}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Performance -->
  <div class="home__section container-fluid">
    <div class="row">
      <div class="home__section__circular-progress">
        <app-circular-progress-bar [value]="97.7"></app-circular-progress-bar>
      </div>
      <div class="home__section__content d-flex flex-column">
        <div class="home__section__content__header d-flex flex-row align-items-center">
          <img class="img-fluid" src="./assets/icons/human.svg" alt="human" />
          <h3 class="home__section__content__header__title ms-3">
            Performance
          </h3>
        </div>

        <p class="home__section__content__des">
          Great job! You are performing better than 80% of companies
          in your industry in section. Lorem Epsom dollar its
          amet.
        </p>
        <p class="home__section__content__note">
          Would like to see more from your report and how to fix it?
          <br />
          Learn more
          <span class="home__section__content__note__link">here</span>
        </p>
      </div>
    </div>

    <div class="home__section__information">
      <div class="home__section__information__header row">
        <span class="home__section__information__header__level">Level A Accessibility Checks</span>
        <span class="home__section__information__header__domain text-center">Domain compliance</span>
        <span class="home__section__information__header__page text-center">Pages</span>
      </div>

      <div class="home__section__information__body row" *ngFor="let data of ACCESSIBILY_DATA; let i = index">
        <div class="home__section__information__body__level">
          <div class="d-flex align-items-center">
            <span class="home__section__information__body__level__number">{{i+1}}.</span>
            <img [src]="data.level.icon" class="home__section__information__body__level__icon ms-2" alt="icon">
            <span class="home__section__information__body__level__text">{{data.level.text}}</span>
          </div>
        </div>

        <div class="home__section__information__body__domain justify-content-center align-items-center">
          <div class="home__section__information__body__domain__progress">
            <app-progress-bar [bottomText]="false" [valueMax]="100"
              [valueNow]="data.domain.percent">
            </app-progress-bar>

          </div>
          <span class="home__section__information__body__domain__percent">{{data.domain.percent}}%</span>
        </div>

        <div class="home__section__information__body__page justify-content-center align-items-center">
          <div class="home__section__information__body__page__box text-center"
            [class.highlight]="currentRowIndex === i">
            <span>{{data.pages.value}}</span>

            <img class="home__section__information__body__page__box__icon ms-3"
              [src]=" currentRowIndex === i ? './assets/icons/down-arrow-bold.svg' : './assets/icons/down-arrow.svg'"
              alt="arrow" (click)="onShowDetail(data, i)" />
          </div>
        </div>
      </div>
    </div>

    <div class="home__section__detail row justify-content-between align-items-center">
      <div class="home__section__detail__left  align-items-center">
        <span class="home__section__detail__left__title">{{currentDetail?.level?.text}}
        </span>
        <p class="home__section__detail__left__found">{{currentDetail?.pages?.value}} pages found</p>
      </div>

      <div class="home__section__detail__right d-flex align-items-center">
        <div class="home__section__detail__right__progress ">
          <app-progress-bar [valueMax]="100" [valueNow]="currentDetail.detail.percent"
            [totalPage]="currentDetail?.detail?.totalPage" [page]="currentDetail?.pages?.value"></app-progress-bar>
        </div>
        <img class="home__section__detail__right__progress__icon ms-3" src="./assets/icons/down-arrow.svg"
          alt="arrow" />
      </div>
    </div>

    <div class="home__section__items row">
      <div class="home__section__items__header d-flex">
        <p class="home__section__items__header__title">Title and URL</p>
        <p class="home__section__items__header__priority">Priority</p>
      </div>

      <div class="home__section__items__list row">
        <div *ngFor="let item of currentDetail?.detail?.items" class="home__section__items__list__item d-flex">
          <div class="home__section__items__list__item__left">
            <div class="home__section__items__list__item__left__title">{{item.name}}</div>
            <div class="home__section__items__list__item__left__link d-flex align-items-center">
              <img class="home__section__items__list__item__left__link__icon" src="./assets/icons/open-link.png" alt="">
              <span class="home__section__items__list__item__left__link__url ms-2">{{item.url}}</span>
            </div>
          </div>
          <div class="home__section__items__list__item__right align-items-center">
            <div [style.visibility]="item.moreFunc ? 'visible' : 'hidden'"
              class="home__section__items__list__item__right__more">more function?</div>
            <div class="home__section__items__list__item__right__priority">
              <div [class]="'home__section__items__list__item__right__priority__box '  + getBoxColor(item.priority)">
                {{item.priority}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>